// .topnav {
//     background: #1ead65;
// }

.main {
    background-image: conic-gradient(from 36deg at 20% 80%, rgb(4, 215, 64) 0% 25%, rgb(19, 63, 36) 25% 30%, rgb(2, 21, 145) 30% 50%);
    height: 750px;
}

.header {
    font-size: 22px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.caption {
    font-family: cursive;
    font-size: 20px;
    text-decoration: underline;
}

.adminlogin {
    margin-top: 50px;
}

input {
    border: 2px solid forestgreen;
}

.al {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.btn {
    background-color: rgb(7, 181, 39);
    color: white;
}

.card {
    box-shadow: rgba(145, 240, 192, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 2rem;
}