<div class="container-fluid">
    <div>
        <h2 class="p-2 text-center">
            Expenses
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-10 m-auto">
            <div class="card p-2">
                <form [formGroup]="expensesForm" (ngSubmit)="exp()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="floatingInput" formControlName="selectdate">
                                <label for="floatingInput">Select Date</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" formControlName="bills">
                                    <option selected> --- select --- </option>
                                    <option value="coconut">Coconut</option>
                                    <option value="fruits">Fruits</option>
                                    <option value="sugar">Sugar</option>
                                    <option value="rent">Rent</option>
                                    <option value="salary">Salary</option>
                                    <option value="powerbill">Power Bill</option>
                                </select>
                                <label for="floatingSelect">Bills</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingPassword" formControlName="amount"
                                    placeholder="amount">
                                <label for="floatingPassword">Amount</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 mt-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingPassword" formControlName="remarks"
                                    placeholder="for">
                                <label for="floatingPassword">Remarks</label>
                            </div>
                        </div>
                        <div class="col-sm-3 mt-3 text-center">
                            <button type="submit" class="btn btn-primary m-2">Add Expenses</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>



<div class="mt-4 p-4">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th>S.No</th>
                    <th>Date</th>
                    <th>Bills </th>
                    <th>Paid for</th>
                    <th class="text-end">Amount</th>
            </thead>
            <tbody>
                <tr *ngFor="let e of expenses index as i">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-2">
                                <p class="">{{e.selectdate | date: 'dd/MM/yyyy' }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="htn">{{e.bills}}</p>
                    </td>
                    <td>
                        <p>{{e.remarks}}</p>
                    </td>
                    <td class="text-end">
                        <p class="ms-4"> {{e.amount}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-11">

            </div>
            <div class="col-sm-1">
                <p class="ta text-end">
                    {{totalamount}}
                </p>
            </div>
        </div>
    </div>
</div>