.bi {
    font-size: 20px;
    color: blue;
}

.bi-telephone-outbound {
    color: green;
}

.edit {
    font-size: 25px;
    color: blue;
    cursor: pointer;
}

.delete {
    font-size: 25px;
    color: red;
    cursor: pointer;
}
td {
    vertical-align: middle;
}

